version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    exclude-paths:
      - '**/*.lock.yml'

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    versioning-strategy: increase
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - version-update:semver-major
