name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: node@${{ matrix.node-version }} / eslint@${{ matrix.eslint-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        eslint-version:
          - 9
          - 10
        node-version:
          - 20
          - 22
          - 24
          - latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: node --version
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm add --save-dev eslint@~${{ matrix.eslint-version }}
      - run: pnpm exec eslint --version
      - run: pnpm test
